<div class="video-chat-wrapper">

  <ng-container>

    <div class="local-video-box">
      <video #localVideo muted autoplay class="local-stream-video"></video>
    </div>

    <hr>

    <h3>Active Participants (Room: {{ groupId }})</h3>

    <div #remoteVideosContainer class="remote-videos-grid">
    </div>

  </ng-container>


  <div class="main-control-bar">

    <button
      (click)="toggleAudioMute()"
      [class.is-muted]="isMuted"
      class="action-button">
      {{ isMuted ? 'Unmute' : 'Mute' }}
    </button>

    <button
      (click)="endCall()"
      class="action-button hangup-button">
      End Call
    </button>

  </div>

</div>
